.admin-container {
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.admin-card {
    width: 100%;
    max-width: 500px;
    background: white;
    padding: 40px;
    border-radius: 16px;
    box-shadow:
        0 10px 30px rgba(0,0,0,0.08);
}

.auth-title {
    text-align: center;
    margin-bottom: 30px;
}

.admin-group {
    margin-bottom: 20px;
}

.admin-group label {
    display: block;
    margin-bottom: 8px;
    font-weight: 600;
}

.admin-group input {
    width: 100%;
    padding: 12px;
    border: 1px solid #d1d5db;
    border-radius: 10px;
}

.admin-btn {

    width: 100%;
    padding: 14px;
    border: none;
    border-radius: 10px;
    background: #2563eb;
    color: white;
    font-weight: 600;
    cursor: pointer;
}

.auth-btn:disabled {
    background: #616e81;
    opacity: 0.7;
}

.auth-footer {
    margin-top: 20px;
    text-align: left;
}

/* .auth-footer1 {
    margin-top: 10px;
    text-align: left;
} */

.auth-getBack{
    margin-top: 5px;
    text-align: right;
}

.auth-getBack:hover {
    background-color: #d1d5db;
}

.error-text {
    color: red;
    font-size: 13px;
    margin-top: 5px;
}


.password-wrapper {
    position: relative;
}

.password-wrapper input {

    width: 100%;
    padding: 12px;
    padding-right: 45px;
    border: 1px solid #d1d5db;
    border-radius: 10px;
}


