.location-section {
    padding: 80px;
    background: #f8fafc;
}

.location-section h2 {
    text-align: center;
    margin-bottom: 40px;

    font-size: 40px;
}

.location-grid {
    display: grid;

    grid-template-columns:
        repeat(auto-fit, minmax(300px, 1fr));

    gap: 30px;
}

.location-card {
    background: white;

    padding: 30px;

    border-radius: 15px;

    box-shadow: 0 5px 20px rgba(0,0,0,0.08);
}

.location-card h3 {
    margin-bottom: 20px;
}